<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISAP_XRISK" closeTimeout="01:01:00"
          openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:05:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:19548/SAP_XRISK.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISAP_XRISK" contract="ServiceReference1.ISAP_XRISK"
        name="BasicHttpBinding_ISAP_XRISK" />
    </client>
  </system.serviceModel>
</configuration>