<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IComModelService" receiveTimeout="01:25:00"
          sendTimeout="01:25:00" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55847/ComModelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComModelService"
        contract="ServiceReference1.IComModelService" name="BasicHttpBinding_IComModelService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Server"  value="WIN-I7GHS1SHST5" />
    <add key="DbServerType"  value="dst_MSSQL2014" />
    <add key="DbUserName"  value="sa" />
    <add key="DbPassword"  value="P@ssw0rd" />
    <add key="UserName"  value="manager" />
    <add key="Password"  value="manager" />
    <add key="CompanyDB"  value="SBODemoGB" />
    
  </appSettings>
</configuration>