<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="getkeys" value="SELECT U_KEY,U_TrType FROM [{0}_CT].dbo.[@AB_CTRK] WHERE U_version>{1} AND U_ObjType='{2}' " />
    <add key="getObjects" value="SELECT Distinct(U_ObjType) from  [{0}_CT].dbo.[@AB_TRKOBJ]" />
    <add key="getmaxkey" value="SELECT MAX(U_version) maxnum FROM [{0}_CT].dbo.[@AB_CTRK] WHERE U_version &gt; {1} AND U_ObjType='{2}' " />
    <add key="getkeyandtable" value="SELECT U_KeyName,U_HTBL FROM [{0}_CT].dbo.[@AB_TRKOBJ] WHERE U_ObjType='{1}' " />
    <add key="getcsv" value="SELECT {0} FROM  {1} {2} " />
    <add key="error" value="INSERT INTO [{0}_CT].[dbo].[@Log]([U_version],[U_ObjType],[U_DateTime],[U_Error],[U_Direction],[U_XML]) VALUES('{1}','{2}','{3}','{4}','{5}','{6}')" />
    <add key="getpaymentrun" value="SELECT PymMeth,RctId FROM PWZ4 WHERE IdEntry='{0}' " />
    <add key="getrecords" value="SELECT {0} FROM  {1} WHERE {0} &gt;='{2}' AND {0} &lt;='{3}' " />
    <add key="getPRKey" value="SELECT IdEntry FROM PWZ4 WHERE RctId='{0}' " />

    <add key="insertChangeTrack" value="INSERT INTO [{0}_CT].[dbo].[@AB_CTRK]([U_version],[U_ObjType],[U_Key],[U_DateTime],[U_TrType],[U_KeyName]) VALUES ('{1}','{2}','{3}','{4}','{5}','{6}')" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
   <bindings>
  <webHttpBinding>
    <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="200" maxStringContentLength="83886089" maxArrayLength="163841" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
    </binding>
  </webHttpBinding>
</bindings>
       
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding"  scheme="http" />
    </protocolMapping>   
   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
